<h1>Boti Vaquero App</h1>
<h2>Busca Aqui</h2>
<form action="/query" method="post">
    <input type="search" name="query" id="">
    <button type="submit"> ask</button>
</form>

<h2>La respuesta seria {{title}}</h2>