
<div class="container text-center">

    <h1>Boti-Vaquero</h1>
    <form action="/query" method="post">
        <div id="button">
            <input type="search" name="query" id="input">
            <button type="submit" id="rec" class="btns">Enter</button>
        </div>
    </form>
    <br><p class="text botchat">Repuesta<p><div id="response" class="text-center">{{title}}</textarea>

</div>